<!-- Main difference between this an index is that the scripts and styles are inlined
so that they can be viewed locally without dealing with the GAS HTMLService-->

<html>
    <head>
        {{> ../../dist/cutestrap }}
        {{> ../../dist/css }}
    </head>

    <body>
        {{> partials/overlay }}
        <div class='relative-wrapper'>
            {{> header }}
            <div id='app'></div>
            <div class='footer-spacer'></div>
            {{> footer }} 
        </div>
        <script async defer src="https://buttons.github.io/buttons.js"></script>
        {{> ../../dist/js }}
    </body>
</html>



