<Nav views={{views}} bind:active on:click='setActive (event.view.id)'/>
<ViewChanger views={{views}} bind:active />

<script>
    import Nav from './Nav';
    import ViewChanger from './ViewChanger';
    import AccountSwitcher from './AccountSwitcher';
    
    export default {
        components: {
            Nav,
            ViewChanger
        },
        methods: {
            setActive: function(viewId) {
                this.set({active: viewId})
            }
        },
        oncreate() {
            // add Account Switcher to header
            const acctSwitcher = new AccountSwitcher({
                target: document.getElementById('change-account')
            });
        }
    }
</script>