<div id="resume-validation-errors"></div>

<div id="resume-form-div" class="form-div">
    <form id="resumeForm" name="resumeForm"  class="form-horizontal" on:submit='handleSubmit(event)'>
        
        <SelectFolder selectText={{selectText}} /> 
        <br />

        <!--Submit-->
        <SubmitButton buttonText={{buttonText}} on:click='handleClick(event)' />

    </form>
</div>

<script>
    import SelectFolder from './SelectFolder';
    import SubmitButton from './SubmitButton';
    export default {
        data() {
            return {
                buttonText: 'Resume copying',
                selectText: 'Select the folder copy that is in progress'
            }
        },
        components: {
            SelectFolder,
            SubmitButton
        },
        methods: {
            handleClick(e) {

            },
            handleSubmit(e) {
                
            }
        }
    }
</script>