<div class="container" id="container">
    {{#each views as view}}
        <div id='{{view.id}}' class='tab {{active === view.id ? 'active' : ''}}'></div>
    {{/each}}
</div>

<script>
    export default {
        oncreate() {
            // this.get will retrieve the prop "views" that is passed into the component
            const views = this.get('views');
            views.forEach(function(view) {
                new view.component({
                    target: document.getElementById(view.id)
                })
            });
        }
    };
</script>